<div class="maindiv">
  <div class="center">
    <div class="centeredDiv">
      <md-card class="mat-card">
        <p class="heading">Exoplanetary Explorer</p>
        <p class="fecthing">Fecthing data, hold on for a short while ...</p>
        <md-progress-bar mode="indeterminate" color="#000000" class="mat-progress-bar"></md-progress-bar>
        <div class="creditsdiv">
          <p class="credits">Data obtained via the NASA Exoplanet Archive API: <a href="http://exoplanetarchive.ipac.caltech.edu/index.html" target="_blank">NASA Exoplanet Archives</a></p>          
        </div>
      </md-card>  
    </div>
  </div>
</div>
